.main-container{
  margin-left: 130px;
  margin-right: 130px;
    display: flex;

}

.left-container{
    width: 70%;
    padding-right: 24px;
}
.right-container{
    width: 30%;
}
form{
    width:400px;
    max-width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  border: 1px solid gray;
  border-radius: 3px;
  outline: 0;
}
input[type=number]:focus {
  border:2px solid black;    
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
 .form-control::placeholder{
    color: rgba(128, 128, 128, 0.793);
 }
 .right-container img{
    margin-top: 100px;
 }
 .lower-about-section{
    margin-top: 100px;
 }
 .icon-container .icon-arrow{
  transition: transform 0.3s ease;
 }
 .icon-container:hover .icon-arrow{
    transform: translateX(-5px);

 }

 
/* .toast-content{
  background-color: #ffffff;
} */
@media (max-width: 1024px) {
  .main-container {
    margin: 0 80px;
  }
  .left-container{
    width: 70%;
}
}

@media (max-width: 768px) {
  .main-container{
    margin: 0 30px;
    flex-direction: column;

  }

  .left-container{
    width: 100%;
    padding-right: 0px;
}
.right-container{
  width: 100%;
}
  .lower-about-section ul{
    padding-left: 0;
  }
}