.main-container{
  margin-left: 130px;
  margin-right: 130px;
}

@media (max-width: 1024px) {
  .main-conatainer {
    margin: 0 80px;
  }
}

@media (max-width: 768px) {
  .main-conatainer {
    margin: 0 30px;
  }
}