<div class="main-container d-flex">

    <div class="right-container pt-5 w-100" >
        <p class="mt-1 fw-semibold" style="font-size: 18px;">My Orders</p>
        <div class="row d-flex border-top" *ngFor="let data of lstData" style="margin-left: 0;">
            <div class="col-12  col-lg-5  d-flex pt-3 mt-2">
                <img src="assets/images/box_icon.svg" width="64px" height="64px" alt="" srcset="" >
                <div class="ms-3 w-100" style="font-size: 16px;">
                    <p class="fw-medium">{{data['products']}} </p>
                    <p style="font-size: 14px;">Item:{{data['int_items']}}</p>
                </div>
            </div>
            <div class="col-12  col-lg-3 pt-3 mt-2" style="font-size: 14px;">
                <p class="fw-medium mb-0">{{data['fk_address__vchr_name']}}</p>
                <p>{{data['fk_address__vchr_address']}} <br>{{data['fk_address__bint_phone']}}</p>

            </div>
            <div class="col-12  col-lg-2 pt-3 mt-2 d-flex align-items-center justify-content-start" style="font-size: 14px;">
                <p class="fw-medium" >₹{{data['dbl_total_amt']}}</p>

            </div>
            
            <div class="col-12  col-lg-2 pt-3 mb-2 mt-2" style="font-size: 14px;">
                <p class="mb-0">Method:CASH </p>
                <p class="mb-0">Date:{{data['dat_order'] | date:'d/MM/Y'}}</p>
                <p>payment:pending</p>

            </div>

        </div>

    </div>
</div>