<body class="d-flex flex-column align-items-center justify-content-center">
  <div style="width: 360px;background-color: white;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);" class="d-flex flex-column align-items-center justify-content-center px-4 py-5 rounded-2">
    <p class="fs-4 text-center fw-bold mb-3">Forgot Password</p>
    <p style="font-size: 14px;color: rgb(114, 114, 114);margin-bottom: 20px;">Enter the email associated with your account and we'll send you password reset instructions.</p>
    <div class="w-100">
        <input type="text" placeholder="Email" [(ngModel)]="strEmail" class="form-control w-100">   
        <small class="my-3" style="color: red;" *ngIf="ShowError">
            Email not Found.
        </small>    
    </div>

    <button class="btn w-100 mt-4 text-white" style="background-color: #ea580c;" (click)="login()">Forgot Password</button>

</div>  

  <!-- <div *ngIf="resetPassword" style="width: 360px;background-color: white;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);" class="d-flex flex-column align-items-center justify-content-center px-4 py-5 rounded-2">
    <p class="fs-4 text-center fw-bold mb-3">Reset Password</p>
    <p style="font-size: 14px;color: rgb(114, 114, 114);margin-bottom: 20px;">A 6 digit email OTP was sent to {{strEmail}} Enter that code here to proceed.</p>
    <div class="w-100">
        <input type="number" placeholder="Enter Otp" [(ngModel)]="intOtp" class="form-control w-100">   
        <small class="my-3" style="color: red;" *ngIf="ShowError">
            Email not Found.
        </small>    
    </div>
    <div class="w-100">
        <p style="text-align: left; font-size: 14px;color: rgb(114, 114, 114);margin-bottom: 0px;margin-top: 20px;">Didn't get OTP? - resend OTP in 00:27</p>

    </div>
    <button class="btn w-100 mt-4 text-white" style="background-color: #ea580c;" (click)="login()">Forgot Password</button>

</div>  -->
</body>

