body{
    height: 100vh;
    background-image: url('/assets/images/login-bg.jpg');

}
.form-control:focus{
    outline: 1 px solid rgba(0, 0, 0, 0.452);
    border: 1px solid rgba(0, 0, 0, 0.495);
    box-shadow: none;
}