body{
    height: 100svh;
    background-image: url('/assets/images/login-bg.jpg');
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

}
.form-control:focus{
    outline: 1 px solid rgba(0, 0, 0, 0.452);
    border: 1px solid rgba(0, 0, 0, 0.495);
    box-shadow: none;
}

