
body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Outfit',  sans-serif !important;
}

nav{
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.134);
    height: 100vh;
}

nav li{
list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: #374151;
    font-weight: 400;

}
nav li a:not(.active):hover{
    background-color: rgba(240, 248, 255, 0.678);
    cursor: pointer;
}

nav li i {
    font-size: 28px;
    margin-right: 10px;
    color: black;

}
nav li a {
    width: 100%;
}
/* nav li a:active {
    border-right: 1px solid rgb(255, 119, 0);
    background-color:rgba(255, 119, 0, 0.336); ;

} */

nav .hide-text{
    display: none;
    flex-direction: unset;
}
.table-container{
    max-width: 900px;
    overflow-x:auto;
    width: 100%;
}
/* table{
    width: 100%;
    border: 1px solid #374151;
    border-radius: 10px;

}
td,th{
    border: 1px solid #374151;
    border-right: 0;
    border-left: 0;
    border-radius: 10px;
} */
/* table {
    width: 100%; */
    /* border: 1px solid #374151; */
    /* border-radius: 5px;      use px, not % */
    /* border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-left: 1px solid #374151;
    border-right: 1px solid #374151;

} */

/* th, td {
    border-top: 1px solid #374151; */
    /* border-bottom: 1px solid #374151; */
    /* padding: 10px;
} */
/* table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
} */
 th{
    font-size: 15px;
 }
 td{
    color: #6B7280;
    font-size: 14px;
 }
.active {
    background-color: #EA580C1A;
    border-right: 3px solid rgb(255, 119, 0);

}
@media(max-width:768px){
    nav{
        width: fit-content;
        border-right: 1px solid rgba(0, 0, 0, 0.134);

    }
    nav li i {
    margin-right: 0px;

}
}